@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --bg-color: linear-gradient(to bottom,#f5f7fa, #ced9ec);
  --component-color: #111;
}

.dark {
  --bg-color: linear-gradient(to bottom, #111111, #222222cc);
  --component-color: #fafafa;
}

body {
  background: var(--bg-color);
  color: var(--component-color);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}